Source: ros-noetic-ws281x
Section: misc
Priority: optional
Maintainer: Oleg Kalachev <okalachev@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-led-msgs, ros-noetic-message-generation, ros-noetic-ros-environment, ros-noetic-roscpp
Homepage: https://github.com/CopterExpress/ros_led
Standards-Version: 3.9.2

Package: ros-noetic-ws281x
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-led-msgs, ros-noetic-message-generation, ros-noetic-roscpp
Description: ROS node for rpi_ws281x LED strip driver
